nav{ position:relative;float:left;width:632px;}
.sf-menu{display:block;}

.sf-menu ul {position:absolute; top:-999px; display:none; z-index:999;}
.sf-menu a {display:block;}
.sf-menu li:hover ul,.sf-menu li.sfHover ul {z-index:999;}

ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul {top:-999px; display:none;z-index:999}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul {left:100%; top:0;z-index:999}
ul.sf-menu>li{background: url(../images/bg-li.jpg) right 0 no-repeat ;font-family: 'Oswald', sans-serif;
font-size: 17px; float:left;line-height:22px;position:relative;}			
				
ul.sf-menu>li>a{display:block;position:relative;padding:12px 21px 14px 19px;color:#555757;}
				
				
ul.sf-menu>li.current , ul.sf-menu>li.sfHover , ul.sf-menu>li:hover {}
ul.sf-menu>li.current>a, ul.sf-menu>li.sfHover>a, ul.sf-menu>li>a:hover{color:#ed7602;}


.sf-menu>li>ul{left:-1px;top:48px;width: 139px;padding:0 0 0 0; z-index:99;background: url(../images/bg-li-ul.jpg) 0 0 repeat-x #262626;}
			 
			   
.sf-menu>li>ul>li {
	 font-size: 12px; border-top:1px solid #3c3c3c;font-family: Arial, Helvetica, sans-serif;
}
.sf-menu>li>ul>li:first-child{border-top: none;}
							
.sf-menu>li>ul>li>a {display: block;color:#707171;padding:5px 0 5px 12px;}
	 
.sf-menu>li>ul>li:hover, ul.sf-menu>li>ul>li.sfHover{}
.sf-menu>li>ul>li>a:hover, ul.sf-menu>li>ul>li.sfHover a {color:#fadb09 ;}

